body{background-color:Black!important;}
div{background-color:Red!important;}
/* textbox */
input
{
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -o-transition: all linear .2s;
    transition: all linear .2s;
}
label.label
{  
    -webkit-transition: -webkit-transform 0.3s!important;
    -moz-transition: -moz-transform 0.3s!important;
    -o-transition: -o-transform 0.3s!important;
    transition: transform 0.3s!important;
  
}
