<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>huang's blog</title>
</head>
<style type="text/css">
    body{
        color: #efd;
        background: #868383;
        padding: 12px 5em;
        margin:7px;
    }
    h1{
        color: #ffffff;
        padding: 2em;
        background: #7f0a0c;
        text-align:center;
    }
    h2{
        color: #000000;
        border-top: 1px dotted #fff;
        margin-top:2em;
    }
    p{
        margin:1em 0;
        color: #FFFFFF;
    }
</style>
<body>
<h1>熊窝</h1>
<h3>Do your homework,dont't be stupid</h3>
{% block content %}
{% endblock %}
</body>
</html>