<!doctype html>
<html lang="zh">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>清梦</title>
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link rel="stylesheet" type="text/css" href="statics/css/index.css" media="all" />
	<link rel="stylesheet" type="text/css" href="statics/css/buttons.css">

	<link rel="stylesheet" type="text/css" href="statics/css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="statics/fonts/font-awesome-4.2.0/css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="statics/css/component.css" />

	<link rel="icon" href="statics/images/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="statics/images/favicon.ico" type="image/x-icon"/>
</head>

<body class="home blog custom-background round-avatars">
<div class="Yarn_Background" style="background-image: url( statics/images/47fb3c_.jpg);"></div>
<form class="js-search search-form search-form--modal" method="get" action="search.html" role="search">
	<div class="search-form__inner">
		<div>
			<div id="search-container" class="ajax_search">
				<form method="get" id="searchform" action="">
					<div class="filter_container"><input type="text" value="" autocomplete="off" placeholder="Type then select or enter" name="s" id="search-input" />
						<ul id="search_filtered" class="search_filtered"></ul>
					</div>
					<input type="submit" name="submit" id="searchsubmit" class="searchsubmit" value="" />
				</form>
			</div>
		</div>
	</div>
</form>
<div class="navi" data-aos="fade-down">
	<div class="bt-nav">
		<div class="line line1"></div>
		<div class="line line2"></div>
		<div class="line line3"></div>
	</div>
	<div class="navbar animated fadeInRight">
		<div class="inner">
			<nav id="site-navigation" class="main-navigation">
				<div id="main-menu" class="main-menu-container">
					<div class="menu-menu-container">
						<ul id="primary-menu" class="menu">
							<li id="menu-item-17" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-17">
								<a href="mainpage">首页</a>
							</li>
							<li id="menu-item-173" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-173">
								<a href="update.html">更新</a>
							</li>
							<li id="menu-item-78" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-78">
								<a href="link.html">链接</a>
							</li>
							<li id="menu-item-252" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-252">
								<a href="archives.html">归档</a>
								<ul class="sub-menu">
									<li id="menu-item-165" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-165">
										<a href="">theme</a>
									</li>
									<li id="menu-item-163" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-163">
										<a href="">Happen</a>
									</li>
									<li id="menu-item-924" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-924">
										<a href="">WeWork</a>
									</li>
									<li id="menu-item-164" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-164">
										<a href="">WordPress</a>
									</li>
								</ul>
							</li>
							<li id="menu-item-57" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57">
								<a href="gustbook.html">留言</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			<!-- #site-navigation -->
		</div>
	</div>
</div>
<div class="hebin" data-aos="fade-down">
	<i class=" js-toggle-search iconfont">&#xe60e;</i>
</div>
<header id="masthead" class="overlay animated from-bottom" itemprop="brand">
	<div class="site-branding text-center">
		<h1 style="font-size: 50px">清梦</h1>
	</div>
	<!-- .site-branding -->
	<div class="decor-part">
		<div id="particles-js"></div>
	</div>
	<div class="animation-header">
		<div class="decor-wrapper">
			<svg id="header-decor" class="decor bottom" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 100 100" preserveAspectRatio="none">
				<path class="large left" d="M0 0 L50 50 L0 100" fill="rgba(255,255,255, .1)"></path>
				<path class="large right" d="M100 0 L50 50 L100 100" fill="rgba(255,255,255, .1)"></path>
				<path class="medium left" d="M0 100 L50 50 L0 33.3" fill="rgba(255,255,255, .3)"></path>
				<path class="medium right" d="M100 100 L50 50 L100 33.3" fill="rgba(255,255,255, .3)"></path>
				<path class="small left" d="M0 100 L50 50 L0 66.6" fill="rgba(255,255,255, .5)"></path>
				<path class="small right" d="M100 100 L50 50 L100 66.6" fill="rgba(255,255,255, .5)"></path>
				<path d="M0 99.9 L50 49.9 L100 99.9 L0 99.9" fill="rgba(255,255,255, 1)"></path>
				<path d="M48 52 L50 49 L52 52 L48 52" fill="rgba(255,255,255, 1)"></path>
			</svg>
		</div>
	</div>
</header>
<div id="main" class="content">
	<div class="container">
		<article id="post-2" class="js-gallery post-2 page type-page status-publish has-post-thumbnail hentry">
			<style>
				.meta {
					display: none;
				}

				#NextPrevPosts {
					margin: 0;
					visibility: hidden;
				}
			</style>
			<section class="post_content">
				<header class="post_header">
					<h1 class="post_title" style="text-align: center">编辑文章</h1>
				</header>

			</section>
		</article>

		<table><tr><td>
			<div style="text-align: left">
		<span class="input input--haruki">
			<input class="input__field input__field--haruki" type="text" id="title">
					<label class="input__label input__label--haruki" for="title">
						<span class="input__label-content input__label-content--haruki" >文章标题</span>
					</label>
				</span>
			</div></td>
			<td>
				<div style="padding-top: 80px">
					<label>文章类型&nbsp&nbsp</label>
					<select id="type" name="type" style="width: 20%">
					<option selected="selected">1</option>
					<option>2</option>
				</select>
				</div>
			</td>
		</tr></table>
		<div id="editor">

		</div>
		<br/>
		<div style="text-align:left">
			<label for="upfile" class="button button-tiny">选择图片</label>
			<input type="file" id="upfile" style="display: none" onchange="getname(this)">
			<label id="filename" style="font-size: initial">未选择</label>
			<a class="button button-primary button-pill button-small" onclick="uploadfile()">上传</a>
			<label id="successfullyupload" style="display: none"></label>
		</div>
		<div style="text-align: center"><button class="button button-pill" onclick="submitarticle()">提交</button></div>
	</div>
	<svg id="upTriangleColor" width="100%" height="40" viewBox="0 0 100 102" preserveAspectRatio="none">
		<path d="M0 0 L50 100 L100 0 Z"></path>
	</svg>

	<div id="panel">
		<div class="comment-area">
		</div>
	</div>
	<svg id="dwTriangleColor" width="100%" height="40" viewBox="0 0 100 102" preserveAspectRatio="none">
		<path d="M0 0 L50 100 L100 0 Z"></path>
	</svg>
	<div class="wrapper">
	</div>
</div>

<footer id="footer" class="overlay animated from-top">
	<div class="decor-wrapper">
		<svg id="footer-decor" class="decor top" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 100 100" preserveAspectRatio="none">
			<path class="large left" d="M0 0 L50 50 L0 100" fill="rgba(255,255,255, .1)"></path>
			<path class="large right" d="M100 0 L50 50 L100 100" fill="rgba(255,255,255, .1)"></path>
			<path class="medium left" d="M0 0 L50 50 L0 66.6" fill="rgba(255,255,255, .3)"></path>
			<path class="medium right" d="M100 0 L50 50 L100 66.6" fill="rgba(255,255,255, .3)"></path>
			<path class="small left" d="M0 0 L50 50 L0 33.3" fill="rgba(255,255,255, .5)"></path>
			<path class="small right" d="M100 0 L50 50 L100 33.3" fill="rgba(255,255,255, .5)"></path>
			<path d="M0 0 L50 50 L100 0 L0 0" fill="rgba(255,255,255, 1)"></path>
			<path d="M48 48 L50 51 L52 48 L48 48" fill="rgba(255,255,255, 1)"></path>
		</svg>
	</div>
	<div class="socialize" data-aos="zoom-in">
		<li>
			<a title="weibo" class="socialicon" href=""><i class="iconfont" aria-hidden="true">&#xe601;</i></a>
		</li>
		<li class="wechat">
			<a class="socialicon"><i class="iconfont">&#xe609;</i></a>
			<div class="wechatimg"><img src="statics/images/49D3746D-7519-B709-83E4-65BD1927C4E7.jpg"></div>
		</li>
		<li>
			<a title="QQ" class="socialicon" href="" target="_blank"><i class="iconfont" aria-hidden="true">&#xe616;</i></a>
		</li>
	</div>
	<div class="cr">
		Copyright&copy;2018. Design by
		<a href="">flybear</a>
	</div>
	<script type='text/javascript' src='statics/js/jquery.min.js'></script>
	<script type='text/javascript' src='statics/js/plugins.js'></script>
	<script type='text/javascript' src='statics/js/script.js'></script>
	<script type='text/javascript' src='statics/js/particles.js'></script>
	<script type='text/javascript' src='statics/js/aos.js'></script>
	<script type="text/javascript" src="statics/js/wangEditor.js"></script>
	<script type="text/javascript" src="statics/js/editor.js"></script>

	<script type="text/javascript" src="statics/js/classie.js"></script>
	<script>
        (function() {
            // trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
            if (!String.prototype.trim) {
                (function() {
                    // Make sure we trim BOM and NBSP
                    var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
                    String.prototype.trim = function() {
                        return this.replace(rtrim, '');
                    };
                })();
            }

            [].slice.call( document.querySelectorAll( 'input.input__field' ) ).forEach( function( inputEl ) {
                // in case the input is already filled..
                if( inputEl.value.trim() !== '' ) {
                    classie.add( inputEl.parentNode, 'input--filled' );
                }

                // events:
                inputEl.addEventListener( 'focus', onInputFocus );
                inputEl.addEventListener( 'blur', onInputBlur );
            } );

            function onInputFocus( ev ) {
                classie.add( ev.target.parentNode, 'input--filled' );
            }

            function onInputBlur( ev ) {
                if( ev.target.value.trim() === '' ) {
                    classie.remove( ev.target.parentNode, 'input--filled' );
                }
            }
        })();
	</script>


	<script type="text/javascript">
        var E = window.wangEditor;
        var editor = new E('#editor');
        editor.customConfig.uploadImgServer  = '/blog/insertimage';
        editor.customConfig.uploadFileName = 'insertimg';
        editor.create();
        $('#editor').attr('style','height:auto;');
	</script>
</footer>

</body>

</html>