<!-- The source for this general template (both HTML and CSS) is from W3Schools: 
"https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_templates_start_page&stacked=h" -->

<!DOCTYPE html>

{% load static %}

<html>
<title>CRC Home Page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/basicCSS.css' %}"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-red w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="/CarApp/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Home</a>
	<a href="/CarApp/search" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Search</a>
	<a href="/CarApp/contact" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Contact</a>
    <a href="/CarApp/login" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Login</a>
    <a href="/CarApp/register" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Register</a>
      {% if name != 'guest' %}
      <a href="/CarApp/logout" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" style="float: right">logout</a>
        {% endif %}
{#      <h5 style="float: right;padding:8px 16px">{{name}}</h5>#}
      <a href="/CarApp/account" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" style="float: left">{{ name }}</a>

  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Search</a>
    <a href="/CarApp/contact" class="w3-bar-item w3-button w3-padding-large">Contact</a>
    <a href="/CarApp/login" class="w3-bar-item w3-button w3-padding-large">Login</a>
    <a href="/CarApp/register" class="w3-bar-item w3-button w3-padding-large">Register</a>
      {% if name != 'guest' %}
      <a href="/CarApp/logout" class="w3-bar-item w3-button w3-padding-large">logout</a>
       {% endif %}

  </div>
</div>

<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
  {{header|safe}}
</header>

{{footer|safe}}

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

</body>
</html>
