<!DOCTYPE html>
<html lang="en" >

{% load static %}
<head>
  <meta charset="UTF-8">
  <title>Sign Up Form</title>
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

{#  <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>#}
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/alert.css'%}">

    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="{% static 'css/buttons.css'%}">
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/send.register.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/ui.js' %}"></script>
  
</head>

<body>

  
<div class="container">
  <form id="register" action="#">{% csrf_token %}
{# ------------------------------------------account------------------------------------------------#}
    <div class="row">
      <h4>Account</h4>
        <table width="100%">
      <tr><td><div class="input-group input-group-icon">
        <input id="name" type="text" name="account" placeholder="Full Name" required="required"/>
        <div class="input-icon"><i class="fa fa-user"></i></div>
      </div></td></tr>
         <tr><td><span id="namemsg" style="color: red"></span></td></tr>

      <tr><td><div class="input-group input-group-icon">
        <input id="password" type="password" name="password" placeholder="Password" required="required"/>
        <div class="input-icon"><i class="fa fa-key"></i></div>
      </div></td></tr>
             <tr><td><span id="pwdmsg" style="color: red"></span></td></tr>
        </table>
    </div>
{# ------------------------------------------message------------------------------------------------#}
      <div class="row">
          <h4>Message</h4>

          <table width="100%">

          <tr><td><div class="input-group input-group-icon">
            <input id="address" type="text" name="address" placeholder="Adress" required="required"/>
            <div class="input-icon"><i class="fa fa-home"></i></div>
            </div></td></tr>
            <tr><td><span id="addrmsg" style="color: red"></span></td></tr>

          <tr><td><div class="input-group input-group-icon">
            <input id="phone" type="text" name="phone" placeholder="Phone" required="required"/>
            <div class="input-icon"><i class="fa fa-phone"></i></div>
            </div></td></tr>
              <tr><td><span id="phonemsg" style="color: red"></span></td></tr>

          <tr><td><div class="input-group input-group-icon">
              <input id="state" type="text" name="state" placeholder="New South Wales" list="list" required="required">
              <datalist id="list">
                <option value ="New South Wales">New South Wales</option>
                <option value ="Queensland">Queensland</option>
                <option value="South Australia">South Australia</option>
                <option value="Tasmania">Tasmania</option>
                <option value="Victoria">Victoria</option>
              </datalist>
            <div class="input-icon"><i class="fa fa-map-marker"></i></div>
            </div></td></tr>
              <tr><td><span id="statemsg" style="color: red"></span></td></tr>

        <tr><td><div class="input-group input-group-icon">
        <input id="occupation" type="text" name="occupation" placeholder="Occupation" required="required"/>
        <div class="input-icon"><i class="fa fa-black-tie"></i></div>
      </div></td></tr>
              <tr><td><span id="occupmsg" style="color: red"></span></td></tr>

          </table>
      </div>
{# ------------------------------------------bitrh & gender------------------------------------------------#}
    <div class="row">

      <div class="col-half">
        <h4>Date of Birth</h4>
        <div class="input-group">
<table width="100%">
          <tr><td><div class="col-third">
            <input id="day" type="text" name="day" placeholder="01" pattern="[0-3][0-9]" required/>
          </div>

          <div class="col-third">
            <input id="month" type="text" name="month" placeholder="01" pattern="[0-1][0-9]" required/>
          </div>

          <div class="col-third">
            <input id="year" type="text" name="year" placeholder="1970" pattern="[1-2]\d\d\d" required/>
          </div></td></tr>
          <tr><td><span id="datemsg" style="color: red"></span></td></tr>

</table>
        </div>


      </div>
      <div class="col-half">
        <h4>Gender</h4>
        <div class="input-group">
            <table width="100%"><tr><td>
          <input type="radio" name="gender" value="male" id="gender-male"/>
          <label for="gender-male">Male</label>
          <input type="radio" name="gender" value="female" id="gender-female"/>
          <label for="gender-female">Female</label>
            </td></tr>
            <tr><td><span id="gendermsg" style="color: red"></span></td></tr>
            </table>
        </div>
      </div>
    </div>

      <div style="text-align: center">
        <a class="button button-action button-pill" onclick="send()">submit</a>
      </div>

  </form>

</div>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <script  src="{% static 'js/index.js'%}"></script>




</body>

</html>
